pandas>=1.5.3
numpy>=1.23.5
matplotlib>=3.7.1
seaborn>=0.12.2
plotly>=5.16.1
scikit-learn>=1.2.2
cloudscraper>=1.2.60
beautifulsoup4>=4.11.1
sqlite3>=2.6.0
python-dotenv>=1.0.0
jupyterlab>=4.0.9
ipython>=8.14.0